.container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap; /* Prevent rows from wrapping */
  flex-direction: column;
  align-items: center;
}

body {
  /* background-color: #000; */
  color: #918787;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-top: 2rem;
}

.hexagonrow {
  margin-bottom: -30px;
}

.square {
  position: relative;
  display: inline-block;
  box-shadow: 10px 10px 5px #000;
  width: 100px;
  height: 100px;
  background: grey;
  border-radius: 10px; /* Adjust this value to control the roundness of corners */
  transition: 0.7s;
  margin: 2px;
}

.hexagon {
  position: relative;
  display: inline-block;
  box-shadow: 10px 10px 5px #000;
  width: 100px;
  height: 100px;
  background: grey;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  transition: 0.7s;
  margin: 2px;
}

.text {
  display: inline-block;
  position: absolute;
  top: 25px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
